section.calendar-view {
	
	h1 {
		margin:10px;
		text-align: left;

		@media (min-width: $lg) {
			text-align: center;
		}
	}
	.calendar-container{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.calendar-view-container {
		width: 100%;
		padding: 0;

		@media (min-width: $lg) {
			max-width: $lg;
		}
	}

	.month {
		width: 100%;
		margin-bottom: 30px;

		@media (min-width: $lg) {
			width: 30%;
		}

		.month-name {
			margin: 10px;
		}
		.grid-container {
			width:100%;
			.cell {
				$mobile-height: 9vh;
				display:block;
				float:left;
				height: $mobile-height;
				width:14.28571%;
				background: #eee;
				font-family: 'Miriam Libre', sans-serif;

				@media (min-width: $lg) {
					height:43px;
				}

				&.odd {
					background-color: #ddd;
				}
				&.green-1 {
					background: $cell-green-1;
				}

				&.green-2 {
					background: $cell-green-2;
				}

				&.green-3 {
					background: $cell-green-3;
				}

				a {
					text-align: center;
					display: block;
					color: #fff;
					line-height: $mobile-height;
					font-size: 2rem;

					@media  (min-width: $lg) {
						line-height: 43px;
						font-size: 1.4rem;
					}
				}

				&.u-hidden {
					display: none;
				}
			}
		}
	}
}