.landing {
	background: $secondary-colour;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: #fff;

	.titles {
		h1,h2{
			text-align: center;
			margin-bottom: 30px;
		}

		h1 {
			text-transform: uppercase;
			font-size: 60px;
			font-weight: 700;
		}

		.button {
			display: inline-block;
			.fa {
				padding-right: 10px;
			}
		}
	}

	section {
		text-align: center;
	}
}

.puppets-container {
	overflow: hidden;
	text-align: center;
	.offset {
		transform: translateY(50px);
	}

	.puppet {
		display:inline-block;
		img {
			width:100px;
		}
	}
}