nav {
	$logo-size: 32px;
	padding: 18px 0;
	line-height: $logo-size;

  .container {
    @media (min-width: $lg) {
      width: $lg;
    }
  }

	.logo {
		display: inline-block;
		margin: 0 auto;
		width: $logo-size;
		height: $logo-size;
		position: absolute;
		left: 0;
		right: 0;
		img {
			width:100%;
			height:100%;
			vertical-align: middle;
		}
	}

	.left-nav {
		a {
			/*font-family: 'Miriam Libre', sans-serif;*/
			color: $main-type-colour;
		}
	}

	.right-nav {
		.username {
			display:none;
			@media (min-width: $lg) {
				display:inline;
			}
		}

		.newpost {
			line-height: 32px;
	    height: 32px;
	    margin-left: 10px;
	    display: inline-block;
	    padding: 0;
	    width: 32px;

	    .done-text {
	    	display:none;
	    }

	    .not-done-text {
	    	display:block;
	    }

	    @media (min-width: $lg) {
				padding: 0 15px 0 20px;
				width: initial;

				.fa {
		    	padding-left: 10px;
		    }
	    }

	    &.done {
	    	background: $secondary-colour;
	    	pointer-events: none;

	    	.done-text {
	    		display: block;
	    	}

	    	.not-done-text {
	    		display:none;
	    	}
	    }
		}

		.round-button {
			$button-size: 32px;
			font-size: 22px;
			display: inline-block;
			margin-left: 10px;
			width: $button-size;
			height:$button-size;
			line-height: 27px;
			text-align: center;
			background: $main-colour;
			color: #fff;
			text-decoration: none;
			border-radius: $button-size;
			transition: all 0.2s;
			cursor: pointer;

			&:hover{
				opacity:0.8;
			}

			.fa {
				transition: none;
			}

			&.toggle-calendar {
				span {
					font-size: 18px;
				}
			}
		}
	}
}