.vertical-center{
	min-height: 100%;
	min-height: 100vh;

	display: flex;
	align-items: center;

}

.fixed{
	display: fixed;
	position: relative;
 }

 .fixed label{
 	padding-right:20px;
 }

.hint{
	font-style: italic;
}

.number-active{
	color: $main-colour;
	font-size: 2.5rem;
	padding-right:10px;
	font-style: bold;
}

.number-inactive{
	font-size: 2.5rem;
	padding-right:10px;
	font-style: bold;
}

.active{
	color: black;
	font-size: 2.0rem;
}
.inactive{
	color: gray;
	font-style: italic;
	font-size: 2.0rem;
}

.char-count{
	height: 90px;
  	line-height: 90px;
  	padding-right:10px;
}

div.form{
	height:60px;
	line-height: 60px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

.input{
	padding-top: 15px;
}

input {
    border-style:none;
    width:80%;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: $main-colour;
    border: none;
    color: white;
    display: block;
    margin: 0 auto;
    width: 40%;
    font-size: 1.5rem;
    
}