section.timeline-view {
	h1 {
		margin: 45px 0;
	}

	.container.no-post {
		width: 100%;
	    height: 100vh;
	    position: absolute;
	    top: 0;
	    display: flex;
	    justify-content: center;
	    flex-direction: column;
	    z-index:-1;

	    a{
	    	transition: all 0.2s;
	    	&:hover {
		    	opacity:0.8;
		    }
	    }
	    
	    span {
	    	font-family: 'Montserrat';
	    	font-weight: normal;
	    	font-size: 26px;
	    	color: $main-colour;
	    	cursor: pointer;
	    }
	    .fa {
	    	padding-left: 5px;
	    }
	    &.u-hidden{
	    	display:none;
	    }
	}
	.memory-block, .timeline-block {
		position: relative;
	}

	.timeline-block {
		margin-bottom: 56px;
	}

	.timeline-parent {
		position: relative;
	}

	.timeline-container{
		&:before{
			content:'';
			width:1px;
			height:96%;
			background: $main-type-colour;
			position: absolute;
			display: block;
			left: 9.5px;
			top:2px;
			opacity: 0.5;
		}
	}
	
	p.timeline-date {
		display: inline-block;
		opacity: 0.5;
		font-size: 13px;
		
		@media (min-width: $lg) {
			position: absolute;
			left: -115px;
			text-align: right;
			font-size: 15px;
		}
	}

	.memory-dot {
		$dot-size: 20px;
		width: $dot-size;
		height: $dot-size;
		position: absolute;
		background: $main-colour;
		border-radius: $dot-size;
		top: 2px;

		&.date {
			background: #ddd;
			@media (min-width: $lg) {
				display:none;
			}
		}
	}

	.memory-content {
		margin-left: 40px;
	}
}