section.timeline-view {
	h1 {
		margin: 45px 0;
	}

	.memory-block, .timeline-block {
		position: relative;
	}

	.timeline-block {
		margin-bottom: 56px;
	}

	.timeline-parent {
		position: relative;
	}

	.timeline-container{
		&:before{
			content:'';
			width:1px;
			height:99%;
			background: $main-type-colour;
			position: absolute;
			display: block;
			left: 9.5px;
			top:2px;
			opacity: 0.5;
		}
	}
	
	p.timeline-date {
		display: inline-block;
		opacity: 0.5;
		font-size: 13px;
		
		@media (min-width: $lg) {
			position: absolute;
			left: -115px;
			text-align: right;
			font-size: 15px;
		}
	}

	.memory-dot {
		$dot-size: 20px;
		width: $dot-size;
		height: $dot-size;
		position: absolute;
		background: $main-colour;
		border-radius: $dot-size;
		top: 2px;

		&.date {
			background: #ddd;
			@media (min-width: $lg) {
				display:none;
			}
		}
	}

	.memory-content {
		margin-left: 40px;
	}
}