@import url('https://fonts.googleapis.com/css?family=Miriam+Libre|Montserrat');
@import "font-awesome";

body, html {
  color: $main-type-colour;
}

h1, h2, h4, h5, h6, p {
  font-family: 'Miriam Libre', sans-serif;
}

h1 {
  font-size: 30px;
  text-align: center;
}

h2 {
	font-size: 24px;
}

h3, .username {
  font-family: 'Montserrat', sans-serif;
}

.username {
  text-transform: uppercase;
}

