// bower:scss
// endbower

@import "normalize";
@import "skeleton";
@import "colors";
@import "typography";
@import "animate";

@import "timelineview";
@import "calendarview";
@import "newentry";
@import "landing";

/* Utilities */
.u-hidden {
	display: none;
}

.u-invisible {
	opacity: 0;
	visibility: none;
}

.button,input[type=button], input[type=submit], input[type=reset] {
    background-color: $main-colour;
    border: none;
    color: white;
    display: block;
    font-size: 1.5rem;
    border-radius: 30px;
    margin: 0 auto;
    font-family: 'Montserrat';
    transition: all 0.2s;
    
  	&:hover {
  		color: #fff;
  		opacity: 0.8;
  	}
}

nav {
	$logo-size: 32px;
	padding: 18px 0;
	line-height: $logo-size;

	.logo {
		display: inline-block;
		margin: 0 auto;
		width: $logo-size;
		height: $logo-size;
		position: absolute;
		left: 0;
		right: 0;
		img {
			width:100%;
			height:100%;
			vertical-align: middle;
		}
	}

	.left-nav {
		a {
			/*font-family: 'Miriam Libre', sans-serif;*/
			color: $main-type-colour;
		}
	}

	.right-nav {
		.newpost {
			$button-size: 30px;
			font-size: 22px;
			display: inline-block;
			margin-left: 10px;
			width: $button-size;
			height:$button-size;
			line-height: 27px;
			text-align: center;
			background: $main-colour;
			color: #fff;
			text-decoration: none;
			border-radius: $button-size;
		}
	}
}