section.calendar-view.u-hidden
	.container.calendar-view-container
		.row
			.twelve.columns.calendar-container
				.u-hidden
					.month-container
						h5.month-name January
						.day-columns
							.day-cell
								a S
							.day-cell
								a M
							.day-cell
								a T
							.day-cell
								a W
							.day-cell
								a T
							.day-cell
								a F
							.day-cell
								a S
						.grid-container
							- for (var j = 0; j <5 ; j++)
								- for (var i = 1; i <= 7; i++)
										.cell.u-hidden(data-date="")
											a(href="#")= j*7 + i

