nav.u-full-width
	.container
		.twelve.columns
			.left-nav.u-pull-left
			a(href="#").logo
				img(src="./images/logo.png")
			.right-nav.u-pull-right
				span.username
				a.button.newpost
					.not-done-text
						span.u-hidden-mobile POST
						span.fa.fa-pencil
					.done-text
						span.u-hidden-mobile DONE
						span.fa.fa-check
					
				a.round-button.toggle-calendar
					span.fa.fa-calendar
					span.fa.fa-list-ul.u-hidden