nav.u-full-width
	.container
		.twelve.columns
			.left-nav.u-pull-left
			a(href="#").logo
				img(src="./images/logo.png")
			.right-nav.u-pull-right
				span.username
				a.round-button.newpost(href="#") 
					span +
				a(href="").round-button.toggle-calendar
					span.fa.fa-calendar