nav.u-full-width
	.container
		.twelve.columns
			.left-nav.u-pull-left
				a(href="").toggle-timeline.fa.fa-timeline
				a(href="").toggle-calendar.fa.fa-calendar
			a(href="#").logo
				img(src="./images/logo.png")
			.right-nav.u-pull-right
				span.username
					| Hi John!
				a.newpost(href="#") +