.new-entry.u-hidden
	.container
			.row
				.offset-by-two.columns
					.eight.columns
						.vertical-center
							.fixed
								.form-container
									h4
										|What are three things you did well today?
									p.hint
										|For example: I made my friend Maggie pizza!
									p#err
									form(name="new-entry")
										div.form
											span.char-count#cta1 
											span.number-inactive#nta1 1
											input(type="textarea", name="first", class='inactive', id='ta1', placeholder="Write your first here")
										div.form
											span.char-count#cta2 
											span.number-inactive#nta2 2
											input(type="textarea", name="second", class='inactive', id='ta2', placeholder="Write your second here")
										div.form
											span.char-count#cta3 
											span.number-inactive#nta3 3
											input(type="textarea", name="third", class='inactive', id='ta3',placeholder="Write your third here")
										div.input
											input(type="button", name="submit", id="submit", value="Submit")
								.success.u-hidden
									h4 Thanks for writing Jen!