section.timeline-view
	.container
		.four.columns.offset-by-five
			.timeline-parent
				.timeline-container
	.container.no-post
		.six.columns.offset-by-three
			h1 Let's post your first entry!<br> Click on <a class="newpost"><span class="u-hidden-mobile"> POST</span><span><i class="fa fa-pencil"></i></span></a> to start.

	.template.u-hidden
		.timeline-block-container
			.memory-dot.date
			.memory-content
				p.timeline-date
		.memory-block-container
			.memory-dot
			.memory-content
				p I made pizza for myself.

