extends ./layouts/layout.jade

block content
	include ./partials/nav.jade
	.container
		.twelve.columns 
			h1 Your Past Memories
	include ./partials/calendarview.jade
	include ./partials/timelineview.jade
	include ./partials/newentry.jade