extends ./layouts/layout.jade

block content
	.landing
		section
			.container
				.row
					.three.columns &nbsp;
					.six.columns.titles
						h1 3 Things
						h2 Improve your mental well being by remembering today’s little joys.
						a.button.login 
							.span.fa.fa-facebook-square
							| Login with Facebook