doctype html
html
	head
		meta(charset="utf-8")
		block title
			title 3 Things App
		link(rel="stylesheet" href="styles/main.css")
	body
		include ./../partials/nav.jade
		block content
		| <!-- build:js({.tmp,app}) scripts/main.js -->
		script(src="scripts/bundle.js")
		| <!-- endbuild -->